
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <a asp-action="Register" asp-controller="Account" class="btn btn-primary">Create Admin</a>
    <a asp-action="LookJobs" asp-controller="Job" class="btn btn-primary">Control Jobs</a>
</div>