
@{
    ViewData["Title"] = "IndexForClient";
}

<h1>IndexForClient</h1>

<a asp-action="CreateJob" asp-controller="Client" class="btn btn-primary">
    Create Job
</a>

<a asp-action="Logout" asp-controller="Account" class="btn btn-danger">
    Logout
</a>