@model Jobs

@{
    ViewData["Title"] = "Index";
}

<a asp-action="JobsForStatus">My Requests</a>

@foreach (var item in Model.Jobss)
{
    @if (item.IsPublished == true)
    {
        @Html.Partial("_JobItem", item)
    }
}



