@model List<Job>

@{
    ViewData["Title"] = "LookJobs";
}

<h1>LookJobs</h1>

@foreach (var item in @Model)
{
    @if (item.IsPublished == true)
    {
        @Html.Partial("_JobItem", item)
    }
}
