@model Job

    <div class="card" style="width: 18rem;">
        @* <img src="..." class="card-img-top" alt="...">*@
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Price</p>
            <p class="card-text">@Model.Client.CompanyName</p>
            <a asp-action="Details" asp-controller="Job" asp-route-jobId="@Model.Id"  class="btn btn-primary">Details</a>
        </div>
    </div>